<h1>Tanks#index</h1>
<ul>
    <% @tanks.each do |tank| %>
    <li><%= tank.name %></li><%= button_to "Destroy", {action: "delete", id: tank.id}, method: :delete %><%= button_to "Blowout", {action: "blowout", id: tank.id}, method: :delete %>  
        <% tank.crewmembers.each do |crewmember| %>
            <ul><%= crewmember.name %></ul>
        <% end %>
    <ul>Mechanic: <%= tank.mechanic.name %></ul>
    <% end %>
</ul>
